.sider {
  background-color: white;
  box-shadow: 0 0 0, 6px 2px 25px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
  padding-top: 50px;
}

.logo {
  width: 60px;
  border-radius: 50% 50% 50% 50% / 75% 75% 24% 25%;
}
.profile_photo {
  border-radius: 50%;
  width: 50px;
  float: right;
}
.profile_photo:hover {
  box-shadow: 0 6px 10px rgba(251, 11, 163, 0.7);
}
.menu {
  padding-top: 40px;
}

.menu-item {
  color: salmon;
  font-size: 15px;
  height: 55px !important;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.header {
  padding-top: 15px;
  padding-right: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.content-container {
  background-color: "#F1F5F8";
}

.layout {
  min-height: 100vh;
  height: auto;
}
